@font-face {
	font-family: ImpactLabel;
	src: url(Impact_Label.ttf);
}

@font-face {
	font-family: Lane;
	src: url(LANENAR_.ttf);
}

@font-face {
	font-family: Vanadine;
	src: url(Vanadine.ttf);
}

#title {
	font-size: 50px;
	font-family: ImpactLabel;
}

h1 {
	font-family: Vanadine;
	font-size: 35px;
}
h2 {
	font-family: Lane;
	font-size: 25px;
}

body {
	font-size: 16px;
	font-family: Calibri;
	margin-top:50px;
	margin-bottom:100px;
	margin-right:50px;
	margin-left:50px;
	background-image: url("retina_wood.png");
	
}

#htmlinjection {
	width: 92%;
	height: auto;
}

#bugs{
	width: 40%;
	height: auto;
}